*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
@font-face {
    font-family: 'Gilroy 400';
    src: url(./font/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy 500';
    src: url(./font/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Gilroy 600';
    src: url(./font/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: 'Gilroy 700';
    src: url(./font/Gilroy-Bold.ttf);
}
.container{
    padding-left: 30px;
}
.h1{
    font-family: 'Gilroy 700';
    font-size: 32px;
    margin-top: 40px;
}
.inputsFlex{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.input{
    max-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nameText{
    font-family: 'Gilroy 600';
    font-size: 17px;
}
.inputName{
    width: 288px;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #A6B0BA;
    outline: none;
    border-radius: 5px;
    font-family: 'Gilroy 600';
    font-size: 15px;
    margin-top: 10px;
}
.btn{
    background-color: #004DFF;
    width: 100px;
    height: 50px;
    margin-top: 31px;
    border: none;
    border-radius: 5px;
    font-family: 'Gilroy 600';
    font-size: 15px;
    color: white;
}
.miniContainer{
    width: 850px;
    height: 50px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}
.one{
    font-family: 'Gilroy 600';
    font-size: 18px;
    color: #A6B0BA;
}
.hr{
    width: 850px;
    border-bottom: 1px solid #A6B0BA;
    opacity: 0.5;
}
.big{
    width: 850px;
    height: 50px;
}
.block{
    width: 850px;
    height: 50px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.count{
    font-family: 'Gilroy 600';
    font-size: 18px;
}
.wrap{
    width: 150px;
}
.number{
    width: 20px;
}
.wraper{
    width: 50px;
}
.changed{
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.img{
    height: 25px;
    width: 25px;
    background-image: url(./img/9025724_note_pencil_icon.svg);
    background-size: contain;
}
.img2{
    height: 25px;
    width: 25px;
    background-image: url(./img/trash.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.modalBg{
    opacity: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    backdrop-filter: blur(7px);
    z-index: 10;
    display: none;
    transition: 500ms;
}
.modal{
    opacity: 0;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    border-radius: 10px;
    display: none;
    transition: 500ms;
}
.changedBy {
    width: 350px;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #A6B0BA;
    outline: none;
    border-radius: 5px;
    font-family: 'Gilroy 600';
    font-size: 15px;
    margin-top: 10px;
    margin-left: 125px;
}
.changedByAge {
    width: 350px;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #A6B0BA;
    outline: none;
    border-radius: 5px;
    font-family: 'Gilroy 600';
    font-size: 15px;
    margin-top: 10px;
    margin-left: 125px;
}
.text6{
    font-family: 'Gilroy 600';
    font-size: 17px;
    margin-top: 70px;
    margin-left: 125px;
}
.text7{
    font-family: 'Gilroy 600';
    font-size: 17px;
    margin-top: 10px;
    margin-left: 125px;
}
.btn-block{
    width: 90%;
    margin: 30px auto 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;

}
.or{
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: 'Gilroy 600';
    font-size: 15px;
    color: white;
}
.yes{
    background-color: #004DFF;
}
.no{
    background-color: #EE0004;
}